.container{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    height: 6rem;
    border-top: 0.15rem solid greenyellow;
    flex-direction: column;
    text-align: center;
}

.container > div > a > img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 3rem;
    height: 3rem ;
}