
.container {
    margin: 0 17%;
    padding: 0rem 0rem;
    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 3rem;
    align-content: center;
}

.containerTtitle {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 3rem;
}

.containerVideo {
    display: flex;
    justify-content: center;
}